# Ad Sets <span>beta</span>

An ad set groups together multiple ads. On Google it's called _Ad Groups_.

**Daily Budget:** Facebook requires a daily budget per ad set, whereas
Google, on the other hand, is not as granular and requires it on the entire
campaign. To see how to define a budget,
see the <a href="#service-configurations">Configurations</a>
section for details.

Below are the descriptions of the attributes for this resource.

```json
{
  "data": {
    "id": "35b87e73-3fec-4f2c-86dd-6afe36a0dbd2",
    "type": "ad-sets",
    "attributes": {
<%= partial("includes/resources/ad_sets_examples/json_response_attributes.erb").rstrip %>
<%= partial("includes/resources/generic_examples/json_response_service_configurations_empty.erb").rstrip %>
    }
  }
}
```

<% table = [] %>
<!-- required -->
<% table << partial("includes/resources/generic_fields/state.erb") %>
<% table << partial("includes/resources/ad_sets_fields/bids.erb") %>

<!-- optional -->
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>
<% table << partial("includes/resources/generic_fields/service_configurations.erb") %>
<% table << partial("includes/resources/generic_fields/title.erb") %>

<!-- readonly -->
<% table << partial("includes/resources/generic_fields/created_via.erb") %>
<% table << partial("includes/resources/generic_fields/created_at.erb") %>

Attributes | &nbsp;
------------------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

## Creating ad sets

> Definition <br> `POST /campaigns`

Use this endpoint to create new ad sets.

<% table = [] %>
<!-- required -->
<% table << partial("includes/resources/generic_fields/state.erb") %>

<!-- optional -->
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>
<% table << partial("includes/resources/generic_fields/title.erb") %>

Attributes | &nbsp;
---------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

<%= raw_partial("includes/resources/text_fragments/_success_or_error.md") %>

**Important:**

<%= raw_partial("includes/_reference_id_note_post.md") %>

## Updating ad sets

`PUT /ad-sets/:id`

> Definition <br> `PUT /ad-sets/:id`

<%= raw_partial("includes/resources/text_fragments/_put_intro.md") %>

<% table = [] %>

<!-- required -->
<% table << partial("includes/resources/generic_fields/state.erb") %>

<!-- optional -->
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>
<% table << partial("includes/resources/generic_fields/title.erb") %>

Attributes | &nbsp;
---------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

**Important:**

<%= raw_partial("includes/_reference_id_note_put.md") %>

<%= raw_partial("includes/resources/text_fragments/_success_or_error.md") %>

## Reading ad sets

<%= raw_partial(
  "includes/resources/text_fragments/_get_standard.md",
  resource_url_fragment: 'ad-sets'
) %>

## Removing ad sets

<%= raw_partial("includes/resources/text_fragments/_delete_via_state.md") %>
