# Ads <span>beta</span>

`/accounts/:account-id/ads`

An **Ad** defines what is shown to users on platforms. One ad has a Creative.

If you don't know what a Creative is: it's the format of the Ad. It can be
images, video, carousel or perhaps text-only, and so on, depending on the
service. You can send a video to Facebook, but Google search won't support it.

Below you'll see the Ad resource. In it you can define its Creative.

```json
{
  "data": {
    "id": "81b26e41-1fec-3f4c-86dd-6afe36a2adc3",
    "type": "ads",
    "attributes": {
<%= partial("includes/resources/ads_examples/json_response_attributes.erb").rstrip %>
    },
    "relationships": {
<%= partial("includes/resources/ads_examples/json_response_relationships.erb").rstrip %>
    }
  }
}
```

<% table = [] %>
<!-- required -->
<% table << partial("includes/resources/ads_fields/creative.erb") %>
<% table << partial("includes/resources/generic_fields/state.erb") %>

<!-- optional -->
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>

<!-- readonly -->
<% table << partial("includes/resources/ads_fields/preview_url.erb") %>
<% table << partial("includes/resources/generic_fields/created_via.erb") %>
<% table << partial("includes/resources/generic_fields/created_at.erb") %>
<% table << partial("includes/resources/generic_fields/service_readonly.erb") %>

Attributes | &nbsp;
---------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

<% rels = [] %>
<% rels << partial("includes/resources/ads_rels/ad_set.erb") %>
Relationships | &nbsp;
------------------- | -----------
<%= rels.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

## Creating ads

<%= raw_partial(
  "includes/resources/text_fragments/_endpoint_intro.md",
  endpoint: 'POST /accounts/:account-id/ads',
  purpose: 'create an ad'
) %>

<% table = [] %>
<!-- required -->
<% table << partial("includes/resources/ads_fields/creative.erb") %>
<% table << partial("includes/resources/generic_fields/state.erb") %>

<!-- optional -->
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>

Attributes | &nbsp;
---------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

<%= raw_partial("includes/resources/text_fragments/_success_or_error.md") %>

**Important:**

<%= raw_partial("includes/resources/text_fragments/_note_creation_requires_rels.md") %>
<%= raw_partial("includes/_reference_id_note_post.md") %>

## Updating ads

<%= raw_partial(
  "includes/resources/text_fragments/_endpoint_intro.md",
  endpoint: 'POST /accounts/:account-id/ads/:id',
  purpose: 'edit an ad'
) %>

<%= raw_partial("includes/resources/text_fragments/_put_intro.md") %>

<% table = [] %>

<!-- required -->
<% table << partial("includes/resources/generic_fields/state.erb") %>

Attributes | &nbsp;
---------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

**Important:**

<%= raw_partial("includes/resources/text_fragments/_note_cannot_update_rels.md") %>
<%= raw_partial("includes/_reference_id_note_put.md") %>

<%= raw_partial("includes/resources/text_fragments/_success_or_error.md") %>

## Reading ads

<%= raw_partial(
  "includes/resources/text_fragments/_endpoint_intro.md",
  endpoint: 'GET /accounts/:account-id/ads/:id',
  purpose: 'read ads'
) %>

<%= raw_partial(
  "includes/resources/text_fragments/_get_standard.md",
  resource_url_fragment: '/accounts/:account-id/ads',
  beta: ' <span class="beta">BETA</span>'
) %>

<%= raw_partial(
  "includes/resources/text_fragments/_get_id_standard.md",
  resource_url_fragment: '/accounts/:account-id/ads',
) %>

Accepted filters | &nbsp;
------- | -----------
<% table = [] %>
<% table << partial("includes/resources/ads_fields/filter_creative_type.erb") %>
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>
<%= raw_partial("includes/resources/text_fragments/_common_filters.md") %>

## Removing ads

<%= raw_partial("includes/resources/text_fragments/_delete_via_state.md") %>

<a name="ads-creative-details"></a>
## Creative Specs

<%= partial("includes/resources/text_fragments/ads_creative_details.md.erb") %>

