# Inventory Items

`/accounts/:account-id/inventory-items`

An **Inventory Item** represents a product. These are the attributes for this
resource.

```json
{
  "data": {
    "id": "35b87e73-3fec-4f2c-86dd-6afe36a0dbd2",
    "attributes": {
<%= partial("includes/inventory_item_examples/json_response_attributes.erb").rstrip %>
    }
  }
}
```

<% table = [] %>
<!-- required -->
<% table << partial("includes/inventory_item_fields/ad_template_type.erb") %>
<% table << partial("includes/inventory_item_fields/available.erb") %>
<% table << partial("includes/inventory_item_fields/content_language.erb") %>

<!-- optional -->
<% table << partial("includes/inventory_item_fields/brand.erb") %>
<% table << partial("includes/inventory_item_fields/condition.erb") %>
<% table << partial("includes/inventory_item_fields/custom_attributes.erb") %>
<% table << partial("includes/inventory_item_fields/description.erb") %>
<% table << partial("includes/inventory_item_fields/images.erb") %>
<% table << partial("includes/inventory_item_fields/link.erb") %>
<% table << partial("includes/inventory_item_fields/model.erb") %>
<% table << partial("includes/inventory_item_fields/price.erb") %>
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>
<% table << partial("includes/inventory_item_fields/title.erb") %>
<% table << partial("includes/inventory_item_fields/year.erb") %>

<!-- readonly -->
<% table << partial("includes/inventory_item_fields/fingerprint.erb") %>
<% table << partial("includes/inventory_item_fields/sold_out_at.erb") %>
<% table << partial("includes/resources/generic_fields/created_at.erb") %>

Attributes | &nbsp;
------------------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

**More details**

**ad&lowbar;template&lowbar;type:** this value
identifies the type of product and is used for generating specific ads. For
example, we have templates for `vehicle`, `real-estate`.

Besides the existing templates, you can set your own ones. In the dashboard you
can create templates for a specific type of product. This is useful for creating
targetted ads depending on the category of the product.
You could, for example, define `cabernet-sauvignon-wine` and `merlot-wine` for
different types of wines, and then different types of ads will be created for
each.

## Creating items

<%= raw_partial(
  "includes/resources/text_fragments/_endpoint_intro.md",
  endpoint: 'POST /accounts/:account-id/inventory-items',
  purpose: 'create a new inventory item'
) %>

```ruby
client = Apisync.new(api_key: token)
client.inventory_items.save({
  attributes: {
<%= partial("includes/inventory_item_examples/ruby_save_attributes.erb").rstrip %>
  }
})
```

<% table = [] %>
<!-- required -->
<% table << partial("includes/inventory_item_fields/ad_template_type.erb") %>
<% table << partial("includes/inventory_item_fields/available.erb") %>
<% table << partial("includes/inventory_item_fields/content_language.erb") %>

<!-- optional -->
<% table << partial("includes/inventory_item_fields/brand.erb") %>
<% table << partial("includes/inventory_item_fields/condition.erb") %>
<% table << partial("includes/inventory_item_fields/custom_attributes.erb") %>
<% table << partial("includes/inventory_item_fields/description.erb") %>
<% table << partial("includes/inventory_item_fields/images.erb") %>
<% table << partial("includes/inventory_item_fields/link.erb") %>
<% table << partial("includes/inventory_item_fields/model.erb") %>
<% table << partial("includes/inventory_item_fields/price.erb") %>
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>
<% table << partial("includes/inventory_item_fields/title.erb") %>
<% table << partial("includes/inventory_item_fields/year.erb") %>

Parameters | &nbsp;
---------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

<%= raw_partial("includes/resources/text_fragments/_success_or_error.md") %>

**Important:**

<%= raw_partial("includes/_reference_id_note_post.md") %>

## Updating items

> Include the `id` to execute an update.

```ruby
client = Apisync.new(api_key: token)
client.inventory_items.save({
  id: "35b87e73-3fec-4f2c-86dd-6afe36a0dbd2",
  attributes: {
<%= partial("includes/inventory_item_examples/ruby_save_attributes.erb").rstrip %>
  }
})
```

<%= raw_partial(
  "includes/resources/text_fragments/_endpoint_intro.md",
  endpoint: 'PUT /accounts/:account-id/inventory-items/:id',
  purpose: 'update an existing inventory item'
) %>

You must replace `:id` with the record's unique ID you to update.

These are the attributes that can be used.

<% table = [] %>
<!-- required -->
<% table << partial("includes/inventory_item_fields/ad_template_type.erb") %>
<% table << partial("includes/inventory_item_fields/available.erb") %>
<% table << partial("includes/inventory_item_fields/content_language.erb") %>

<!-- optional -->
<% table << partial("includes/inventory_item_fields/brand.erb") %>
<% table << partial("includes/inventory_item_fields/condition.erb") %>
<% table << partial("includes/inventory_item_fields/custom_attributes.erb") %>
<% table << partial("includes/inventory_item_fields/description.erb") %>
<% table << partial("includes/inventory_item_fields/images.erb") %>
<% table << partial("includes/inventory_item_fields/link.erb") %>
<% table << partial("includes/inventory_item_fields/model.erb") %>
<% table << partial("includes/inventory_item_fields/price.erb") %>
<% table << partial("includes/resources/generic_fields/reference_id.erb") %>
<% table << partial("includes/inventory_item_fields/title.erb") %>
<% table << partial("includes/inventory_item_fields/year.erb") %>

Parameters | &nbsp;
---------- | -----------
<%= table.map { |r| r.gsub(/\n/, " ") }.join("\n") %>

**Important:**

<%= raw_partial("includes/_fingerprint_note_put.md") %>
<%= raw_partial("includes/_reference_id_note_put.md") %>

<%= raw_partial("includes/resources/text_fragments/_success_or_error.md") %>

<% # raw_partial("includes/_inventory_items_get.md") %>

## Reading items

```ruby
client = Apisync.new(api_key: token)
client.inventory_items.find(id: "35b87e73-3fec-4f2c-86dd-6afe36a0dbd2")
```

> The command above will return an structured JSON like this:

```json
{
  "data": {
    "id": "35b87e73-3fec-4f2c-86dd-6afe36a0dbd2",
    "attributes": {
<%= partial("includes/inventory_item_examples/json_response_attributes.erb").rstrip %>
    }
  }
}
```

<%= raw_partial(
  "includes/resources/text_fragments/_endpoint_intro.md",
  endpoint: 'GET /accounts/:account-id/inventory-items*',
  purpose: 'read inventory items'
) %>

<%= raw_partial(
  "includes/resources/text_fragments/_get_standard.md",
  resource_url_fragment: '/accounts/:account-id/inventory-items',
  beta: ' <span class="beta">BETA</span>'
) %>

<%= raw_partial(
  "includes/resources/text_fragments/_get_id_standard.md",
  resource_url_fragment: '/accounts/:account-id/inventory-items',
) %>

<%= raw_partial("includes/_inventory_items_delete.md") %>
